* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151320;
}
.box {
  position: relative;
  width: 400px;
  height: 400px;
  background: #151320;
  font-size: 2rem;
  font-weight: 700;
  line-height: 400px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.box::before,
.box::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: -1;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff,
    #ff0055,
    #ff0000,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );
  background-size: 300%;
  animation: border 12s linear infinite;
}
.box::after {
  filter: blur(50px);
}
@keyframes border {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
}
